

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 2% 16% 2% 16%;
}

/* a:link, a:active, a:visited {
    text-decoration: none;
    color: #544066;
    font-size: 1vw;
}
a:hover {
    text-decoration: underline;
    font-size: 1vw;
} */

header {
    position: relative;
    left: -60px;
    padding: 12px;
    min-height: 40px;
    border-radius: 5px;
    background: linear-gradient(to right, #d3d6da, 20%, #ffffff);
}

header .logo {
    position: relative;
    font-size: 2vw;
    font-weight: 900;
    color: #34495E;
}

.main {
    position: relative;
    margin-top: 40px;
    left: 40px;
    padding: 12px;
    min-height: 40px;
    border-radius: 5px;
    background: linear-gradient(to right, #d3d6da, 20%, #ffffff);
}

.main ul li {
    list-style: none;
    line-height: 40px;
    color:#e8ecf0
}